# Web frameworks
flask-cors
gunicorn

fastapi
uvicorn[standard]
flask

fuzzywuzzy
python-Levenshtein
pyyaml


# Image processing and OCR
opencv-python
pillow
pytesseract

# Data handling
pandas
numpy

# Optional: useful during development
python-dotenv
